ion-slides {
    height: 100%;
}

ion-slide {
    display: block;
}

ion-slide img {
    padding: 15%;
}

.slider-text {
    padding-top: 20%;
}

.slider-text h2 {
    font-family: 'SF UI Display Semibold';
}

.navigator {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.swiper-pagination {
    width: 50% !important;
    left: 25% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px solid var(--bullet-background-active);
}