<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide class="ion-padding">
      <img src="../../assets/Functionalities.svg" >

      <div class="slider-text">
        <h2>Easy Exchange!</h2>

        <p>
          Retrouvez au même endroit toutes les fonctionnalités dont vous avez besoin lorsque vous sortez.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/Security.svg" >

      <div class="slider-text">
        <h2>Easy to Use!</h2>

        <p>
          Cherchez un itinéraire et atteignez-le en toute sécurité !
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/Location.svg" >

      <div class="slider-text">
        <h2>Restez connectés!</h2>

        <p>
          Lancez votre trajet et partagez-le avec vos proches.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="skip()">SKIP</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">NEXT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/Together.svg" >

      <div class="slider-text">
        <h2>Connect with Others</h2>

        <p>
          Pour vous et pour eux.
        </p>
      </div>

      <ion-button color="primary">COMMENCER</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>