<ion-content>
  <br />
  <br />
  <br />
  <br />
  <br />

  <div class="padding">
    <form #form="ngForm" (ngSubmit)="signUp(form)">
      <ion-button
        href="/pickImages"
        expand="block"
        shape="round"
        fill="clear"
        color="darkblue"
        class="importPhoto"
        ><ion-icon name="image-outline"></ion-icon></ion-button
      >
      <ion-item>
        <ion-label color="darkblue" position="floating">Nom du groupe</ion-label>
        <ion-input
          name="nomGroupe"
          type="text"
          color="medium"
          ngModel
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="darkblue" position="floating"
          >Membres du groupe</ion-label
        >
        <ion-input
          name="nom"
          type="text"
          color="medium"
          ngModel
          required
        ></ion-input>
      </ion-item>

      
    </form>

    <br />
    <br />

    <div class="signup-options">
      <ion-button
        expand="block"
        shape="round"
        color="darkblue"
        type="submit"
        [disabled]="form.invalid"
        (click)="signUp(form)"
        >Valider</ion-button
      >
    </div>
  </div>
</ion-content>
