<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Créer un nouveau groupe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <br />
  <br />
  <br />
  <br />
  <br />

  <div class="padding">
    <form #form="ngForm" (ngSubmit)="creerGroupe(form)">
      <ion-button
        (click) ="openImagePicker()"
        expand="block"
        shape="round"
        fill="clear"
        color="darkblue"
        class="importPhoto"
        ><ion-icon name="image-outline"></ion-icon></ion-button
      >
      <ion-item>
        <ion-label color="darkblue" position="floating">Nom du groupe</ion-label>
        <ion-input
          name="nomGroupe"
          type="text"
          color="medium"
          ngModel
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="darkblue" position="floating"
          >Membres du groupe</ion-label
        >
        <ion-input
          name="membreGroupe"
          type="text"
          color="medium"
          [(ngModel)]="membreGroupe"
        ></ion-input>
        <ion-button (click)="addMembre()" slot="end"><ion-icon name="add-outline"></ion-icon></ion-button>
      </ion-item>
      <ion-list class="tailleListeMembres" >
          <ion-item required *ngFor="let membre of membres" class="listeMembres" lines="none" >
            <ion-label>{{ membre }}</ion-label>
          </ion-item>
      </ion-list>

      
    </form>

    <br />
    <br />

    <div class="signup-options">
      <ion-button
        expand="block"
        shape="round"
        color="darkblue"
        type="submit"
        [disabled]="form.invalid"
        (click)="creerGroupe(form)"
        >Valider</ion-button
      >
    </div>
  </div>
</ion-content>
