<div class="edit" #edit>
  <div class="ion-text-center">
    <ion-button fill="clear" expand="full" (click)="toggleDrawer()">
      <div class="drawer-pull"></div>
    </ion-button>
  </div>
  <ion-content>
    <h4 style="text-align:center;">Compléter ma nouvelle adresse</h4>
    <br />

    <ion-item>
      <ion-label position="floating">Saisir adresse</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br/><br/><br/>
    <ion-button expand="block" shape="round" color="darkblue" (click)="setNewAdresse()">Valider</ion-button>
  </ion-content>
</div>