<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="logo">
    <!--<ion-icon color="light" name="shield-checkmark-outline"></ion-icon>-->
    <!--<img src="../../assets/logo_GrisBleu.png">-->
    <img src="../../assets/logo_BleuFonce.png" />
  </div>
  <div class="padding">
    <h3>Vous avez oublié votre mot de passe ?</h3>
    <p>
      Merci de bien vouloir renseigner l'adresse mail associée à votre compte.
    </p>
    <form #form="ngForm" (ngSubmit)="resetPassword(form)">
      <ion-item>
        <ion-label color="darkblue" position="floating"
          >Adresse email</ion-label
        >
        <ion-input
          name="email"
          type="text"
          color="medium"
          ngModel
          required
        ></ion-input>
      </ion-item>
      <div class="connexion">
        <ion-button
          expand="block"
          shape="round"
          color="darkblue"
          type="submit"
          [disabled]="form.invalid"
          >Réinitialiser le mot de passe</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
