<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)='close()'>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-toolbar>
    <ion-searchbar (ionChange)="search($event)" [value]="selectedAdress"></ion-searchbar> 
  </ion-toolbar>
  <div>
    <ion-list lines="none" *ngIf="addresses.length > 0">
      <ion-item button *ngFor="let address of addresses" (click)="onSelect(address)">
        <ion-icon name = "pin"></ion-icon>
        {{address}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>