.top {
  ion-avatar img {
    width: 200% !important;
    height: 200% !important;
    max-width: 10000px !important; //any size
    max-height: 10000px !important; //any size
    border-radius: 50px;
    offset: 50px !important;
  }
}

.padding {
  padding: 4%;
  padding-top: 7%;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #f0f0f0;
}
