<ion-content>
  <div class="padding">
    <ion-card color="darkblue">
      <ion-card-header>
        <ion-card-title
          ><ion-avatar> <img src="../../../assets/avatar.jpg" /> </ion-avatar
        ></ion-card-title>
        <div class="cardText">
          <ion-card-title>Aly RADY</ion-card-title>
        </div>
      </ion-card-header>
      <div class="cardText">
        <ion-card-content>@arady</ion-card-content>
      </div>
    </ion-card>
    <div>
      <ion-label
        color="dark"
        style="font-size: 0.9em !important; font-weight: bolder !important"
        >Mes informations</ion-label
      >
      <ion-item>
        <ion-label color="darkblue" position="floating"
          >Adresse email</ion-label
        >
        <ion-input color="medium"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="darkblue" position="floating">Mot de passe</ion-label>
        <ion-input color="medium" type="password"></ion-input>
      </ion-item>
    </div>
    <br />
    <div>
      <ion-button expand="block" shape="round" color="darkblue"
        >Se connecter</ion-button
      >
    </div>
    <ion-card color="grey">
      <ion-card-header>
        <ion-card-subtitle>Mes anges</ion-card-subtitle>
        <div class="cardText">
          <ion-card-title>Aly RADY</ion-card-title>
        </div>
      </ion-card-header>
      <div class="cardText">
        <ion-card-content>@arady</ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>
