<ion-content>
  <div class="background padding">
    <div class="top">
      <ion-avatar> <img src="../../../assets/avatar.jpg" /> </ion-avatar>
      <div class="inner">
        <h1>Aly RADY</h1>
        <h2>@alyRady</h2>
      </div>
    </div>
    <div class="main">
      <p>adresse@mail.com</p>
      <p>autre.adresse@mail.com</p>
      <a href="../modify-compte/">Modifier mon profil</a>
      <ion-item href="https://www.ionicframework.com" lines="none">
        <ion-avatar class="ion-text-center">
          <ion-icon name="warning-outline"></ion-icon>
        </ion-avatar>
        <ion-label>Mes Alertes</ion-label>
        <p class="ion-text-wrap ion-no-padding">Awesome Subtitle</p>
      </ion-item>
      <ion-item href="https://www.ionicframework.com" lines="none">
        <ion-avatar class="ion-text-center">
          <ion-icon name="people-outline"></ion-icon>
        </ion-avatar>
        <ion-label class="ion-text-nowrap"> Mes Anges </ion-label>
        <p class="ion-text-wrap ion-no-padding">Awesome Subtitle</p>
      </ion-item>
      <ion-item href="https://www.ionicframework.com" lines="none">
        <ion-avatar class="ion-text-center">
          <ion-icon name="home-outline"></ion-icon>
        </ion-avatar>
        <ion-label class="ion-text-nowrap"> Mon Domicile </ion-label>
        <p class="ion-text-wrap ion-no-padding">Awesome Subtitle</p>
      </ion-item>
    </div>
  </div>
</ion-content>
