<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide class="ion-padding">
      <img src="../../assets/Address.svg" >

      <div class="slider-text">
        <h2>Un appli tout-en-un!</h2>

        <p>
          Retrouvez toutes les fonctionnalités dont vous avez besoin lorsque vous sortez.
        </p>
      </div>

      <div class="navigator">
        <ion-button href="/login" color="primary" fill="clear">PASSER</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">SUIVANT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/Destination.svg" >

      <div class="slider-text">
        <h2>Restez en sécurité!</h2>

        <p>
          Cherchez un itinéraire et atteignez-le en toute sécurité !
        </p>
      </div>

      <div class="navigator">
        <ion-button href="/login" color="primary" fill="clear">PASSER</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">SUIVANT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/CurrentLocation.svg" >

      <div class="slider-text">
        <h2>Restez connectés!</h2>

        <p>
          Lancez votre trajet et partagez-le avec vos proches.
        </p>
      </div>

      <div class="navigator">
        <ion-button href="/login" color="primary" fill="clear">PASSER</ion-button>
        <ion-button color="primary" fill="clear" (click)="next()">SUIVANT</ion-button>
      </div>
    </ion-slide>
    <ion-slide class="ion-padding">
      <img src="../../assets/Connected.svg" >

      <div class="slider-text">
        <h2>Pour tous!</h2>

        <p>
          Pour vous et pour eux.
        </p>
      </div>

      <ion-button href="/login" color="primary">COMMENCER</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>