<ion-content>
  <br />
  <br />
  <br />
  <br />
  <br />
  
  <div class="underline">
    <ion-button href="#" expand="block" shape="round" fill="clear" color="darkblue"
      >Photo de profil</ion-button
    >
  </div>

  <br />

  <div class="padding">
    <form #form="ngForm" (ngSubmit)="signUp(form)">
      <ion-item>
        <ion-label color="darkblue" position="floating">Pseudo</ion-label>
        <ion-input
          name="pseudo"
          type="text"
          color="medium"
          ngModel
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="darkblue" position="floating"
          >Adresse email</ion-label
        >
        <ion-input
          name="email"
          type="text"
          color="medium"
          ngModel
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="darkblue" position="floating">Mot de passe</ion-label>
        <ion-input
          name="password"
          ngModel
          required
          color="medium"
          type="password"
          [type]="showPassword ? 'text' : 'password'"
        ></ion-input>
        <!--<ion-icon
          slot="end"
          [name]="passwordToggleIcon"
          (click)="togglePassword()"
        ></ion-icon> -->
      </ion-item>

      <ion-item>
        <ion-label color="darkblue" position="floating"
          >Date de naissance</ion-label
        >
        <ion-input
          id="birthdate"
          color="medium"
          type="birthdate"
          name="dateNaissance"
          ngModel
          required
        ></ion-input>
      </ion-item>
    </form>

    <br />
    <br />
  

  <div class="signup-options">
    <ion-button
      expand="block"
      shape="round"
      color="darkblue"
      type="submit"
      [disabled]="form.invalid"
      (click)="signUp(form)"
      >M'inscrire</ion-button
    >
    <br />
    <div class="underline">
      <ion-button href="/login" expand="block" shape="round" fill="clear" color="darkblue"
        >J'ai déjà un compte</ion-button
      >
    </div>
  </div>
  </div>
</ion-content>
