ion-content {
    /**--ion-background-color: linear-gradient(#5a9ae4, #ffffff);**/
    --ion-background-color: linear-gradient(180deg, #51baeba6, #ffffff);
    /*background: linear-gradient(0deg, #abdcff 10%, #22AFF1 100%);*/
}

ion-item {
    --ion-background-color: transparent !important;
  }

.signup-options{
    text-align: center;
}

.underline {
    text-decoration: underline;
}
