<ion-content>
  <div class="padding">
    <ion-card color="darkblue">
      <ion-card-header>
        <ion-card-title>Mes alertes</ion-card-title>
      </ion-card-header>
      <div class="alerte">
        <div class="question">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">1</ion-card-title>
              <ion-card-subtitle style="font-size: 10px" class="ion-text-center"
                >question secrète</ion-card-subtitle
              >
            </ion-card-header>
          </ion-card>
        </div>
        <div class="code">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">1</ion-card-title>
              <ion-card-subtitle style="font-size: 10px" class="ion-text-center"
                >fichier audio</ion-card-subtitle
              >
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </ion-card>
    <div>
      <ion-label
        color="dark"
        style="font-size: 0.9em !important; font-weight: bolder !important"
        >Mes informations</ion-label
      >
      <br />
      <br />
      <ion-label color="dark" style="font-size: 0.9em !important"
        >Question secrète</ion-label
      >
      <ion-card style="background-color: #c4c4c4 !important">
        <ion-card-content style="color: black !important; display: flex">
          Qu’est ce que vous vouliez comme métier faire plus jeune ?
        </ion-card-content>
        <ion-icon
          name="chevron-forward-outline"
          style="
            margin-left: 88%;
            zoom: 2;
            color: black !important;
            display: flex;
          "
        ></ion-icon>
      </ion-card>
      <ion-label color="dark" style="font-size: 0.9em !important"
        >Code secret</ion-label
      >
    </div>
    <br />
  </div>
</ion-content>
