<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home/compte"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="padding">
    <ion-card color="darkblue">
      <ion-card-header>
        <ion-card-title>Mes alertes</ion-card-title>
      </ion-card-header>
      <div class="alerte">
        <div class="question">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">1</ion-card-title>
              <ion-card-subtitle style="font-size: 10px" class="ion-text-center"
                >question secrète</ion-card-subtitle
              >
            </ion-card-header>
          </ion-card>
        </div>
        <div class="code">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">1</ion-card-title>
              <ion-card-subtitle style="font-size: 10px" class="ion-text-center"
                >fichier audio</ion-card-subtitle
              >
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </ion-card>
    <div>
      <ion-label
        color="dark"
        style="font-size: 1.2em !important; font-weight: bolder !important"
        >Authentication</ion-label
      >
      <br />
      <br />
      <ion-label color="dark" style="font-size: 0.9em !important"
        >Question secrète</ion-label
      >
      <ion-card style="background-color: #c4c4c4 !important">
        <ion-card-content style="color: black !important; display: flex">
          Qu’est ce que vous vouliez comme métier faire plus jeune ?
        </ion-card-content>
        <ion-icon
          name="chevron-forward-outline"
          style="
            margin-left: 88%;
            zoom: 2;
            color: black !important;
            display: flex;
          "
        ></ion-icon>
      </ion-card>
      <ion-label color="dark" style="font-size: 0.9em !important"
        >Code secret</ion-label
      >
      <div class="flex">
        <ion-avatar
          style="
            background-color: #c4c4c4 !important;
            height: 35px;
            width: 35px;
          "
        >
        </ion-avatar>
        <ion-avatar
          style="
            background-color: #c4c4c4 !important;
            height: 35px;
            width: 35px;
          "
        >
        </ion-avatar>
        <ion-avatar
          style="
            background-color: #c4c4c4 !important;
            height: 35px;
            width: 35px;
          "
        >
        </ion-avatar>
        <ion-avatar
          style="
            background-color: #c4c4c4 !important;
            height: 35px;
            width: 35px;
          "
        >
        </ion-avatar>
        <ion-icon
          name="chevron-forward-outline"
          style="
            zoom: 2;
            color: black !important;
            margin-top: 10px;
            margin-left: 15px;
          "
        ></ion-icon>
      </div>
      <br />
      <br />
      <ion-label
        color="dark"
        style="font-size: 1.2em !important; font-weight: bolder !important"
        >Urgence</ion-label
      >
      <br />
      <br />
      <ion-label
        color="dark"
        style="
          font-size: 0.9em !important;
          font-family: SF UI Display Light !important;
        "
        >Alarme</ion-label
      >
      <ion-card style="background-color: #c4c4c4 !important; display: flex">
        <img
          src="../../../assets/sound.png"
          style="height: 70px; width: 250px"
        />
        <ion-icon
          name="chevron-forward-outline"
          style="
            zoom: 2;
            color: black !important;
            margin-top: 11px;
            margin-left: 5px;
          "
        ></ion-icon>
      </ion-card>
      <br />
      <div class="flex">
        <ion-label
          color="dark"
          style="
            font-size: 0.9em !important;
            font-family: SF UI Display Light !important;
          "
          >Appel</ion-label
        >
        <ion-card
          style="
            background-color: #c4c4c4 !important;
            width: 10%;
            margin-top: -0px;
            margin-left: 70px;
          "
          ><ion-label
            style="
              margin-left: 11px;
              color: black !important;
              font-size: 0.9em !important;
            "
            >17</ion-label
          >
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
