ion-content {
  /**--ion-background-color: linear-gradient(#5a9ae4, #ffffff);**/
  //--ion-background-color: linear-gradient(180deg, #51baeba6, #ffffff);
  /*background: linear-gradient(0deg, #abdcff 10%, #22AFF1 100%);*/
}

ion-item {
  --ion-background-color: transparent !important;
}

.padding {
  padding: 5%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  height: 30%;
}

.logo ion-icon {
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-button {
  font-family: SF UI Display Light !important;
  font-size: 0.9em;
}

ion-label {
  --color: white;
  font-family: SF UI Display Light !important;
  font-size: 0.8em;
}

ion-input {
  font-family: SF UI Display Light !important;
  font-size: 0.9em;
}

.underline {
  text-decoration: underline;
}

.connectezvous {
  display: flex;
  justify-content: center;
}