h3 {
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    margin-bottom: 25%;
  }
  
  ion-button {
      font-family: SF UI Display Light !important;
      font-size: 0.9em;
      margin-top:25%;
    }
    
    ion-label {
      --color: white;
      font-family: SF UI Display Light !important;
      font-size: 2em;
      margin-top:25%;
    }
    
    ion-input {
      font-family: SF UI Display Light !important;
      font-size: 0.9em;
      margin-top:25%;
      border: 10px;
      border-color: white;
    }
    