<ion-content [fullscreen]="true">
  <div class="options" style="text-align: center; height: 100%; background-color: #102754;">
    <h3>Code secret :</h3>
    <ion-label color="white" position="floating">Entrez votre code secret : </ion-label>
    <br>
    <br>
    <br>
      <ion-input
          name="nom"
          type="text"
          color="medium"
          ngModel
          required
        ></ion-input>
    <br>
    <ion-button
      size="default"
      shape="round"
      color="white"
      text="darkblue"
      type="submit"
      id="button2"
      (click) = "goToCarte()"
      >Valider</ion-button>
  </div>
</ion-content>
