<ion-content [fullscreen]="true">
  <div class="options" style="text-align: center; height: 100%; background-color: navy;">
    <h3>Mode de validation :</h3>
    <ion-button
      size="default"
      shape="round"
      color="white"
      text="darkblue"
      type="submit"
      id="button1"
      >Code secret</ion-button>
    <ion-button
      size="default"
      shape="round"
      color="white"
      text="darkblue"
      type="submit"
      id="button2"
      >Question secrète</ion-button>
  </div>
</ion-content>
