<ion-content [fullscreen]="true">
  <div class="options" style="text-align: center; height: 100%; background-color: #102754;">
    <h3>Mode de validation :</h3>
    <ion-button
      size="default"
      shape="round"
      color="white"
      text="darkblue"
      type="submit"
      id="button1"
      (click) = "goToCode()"
      >Code secret</ion-button>
      <br>
    <ion-button
      size="default"
      shape="round"
      color="white"
      text="darkblue"
      type="submit"
      id="button2"
      (click) = "goToQuestion()"
      >Question secrète</ion-button>
  </div>
</ion-content>
