ion-button{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  .lien-href{
    color: blue;
  }
}

.passerAuthentif{
  padding-inline-start: 0;
  padding-inline-end: 0;
  text-align: left;
}

h3 {
    color: white;
    text-align: center;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
  }

p {
  color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}
