<ion-content [fullscreen]="true">
  <div class="options" style="text-align: center; height: 100%; background-color: #102754;">
    <p>
      Vous tentez de retourner au menu principal.
    </p>
      <h3>Etes-vous en sécurité ?</h3>
    <ion-button
      size="default"
      shape="round"
      color="white"
      text="darkblue"
      type="submit"
      id="button1"
      (click) = "goToCarte()"
      >Reprendre mon trajet</ion-button>
      <br>
    <ion-button
      size="default"
      shape="round"
      color="white"
      text="darkblue"
      type="submit"
      id="button2"
      (click) = "goToValidation()"
      >Valider mon arrivée</ion-button>
      <br>
      <ion-button
      size="default"
      shape="round"
      color="white"
      text="darkblue"
      type="submit"
      (click) = "goToCarte()"
      >Ignorer</ion-button>
  </div>
</ion-content>
